scripts=["
    create service user playground-workflow-service-user with forced path system/cq:services/playground

    set principal ACL for playground-workflow-service-user
        allow jcr:read on /content/dam
        allow jcr:read,jcr:write,jcr:removeNode,crx:replicate on /content/playground
    end
"]