<div data-sly-use.comment="com.kb.playground.core.models.Comment"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test.text="${comment.text}"
     data-cmp-data-layer="${comment.data.json}"
     id="${comment.id}"
     class="cmp-comment">
     <p class="cmp-comment__author" data-sly-test.authorName="${comment.authorName}">${authorName}</p>
     <div class="cmp-comment__text">${text @ context='html'}</div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!text, classAppend='cmp-comment'}"></sly>